.additionalContent {
    display: flex;
    flex-direction: row;
}
.additionalLeft {
    padding: 40px 0px 40px 40px;
    min-width: 240px;
}

.additionalRight {
    width: 100%;
}

.additionalHeader {
    font-size: 20px;
    font-weight: bold;
    color: #545454;
}

.additionalInstruction {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #545454;
}

.additionalValueInput {
    color: #545454;
    border: transparent;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #D8D8D8;
    margin: 0;
    height: 26px;
    margin-top: auto;
    width: 100%;
}
.additionalSubmitDiv {
    padding-top: 20px;
    position: relative;
    float: right;
}
.additionalValueSubmit {
    background: #395BDC;
    color: white;
    border: transparent;
    height: 40px;
    width: 100px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
  }

  .additionalValueInput:disabled {
      border: none;
      /* color: #6F3BE4; */
  }
  textarea:focus, input:focus{
    outline: none;
}