html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

button:focus {outline:0;}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 736px;
  padding-left: 18px;
  padding-right: 18px;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;  
  position: relative;
}

.header {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding-left: 9px;
  padding-right: 9px;
  text-align: center;
  color: black;
  line-height: 1.2;
  font-size: calc(18px + (36 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.homeInstructions {
  padding-left: 9px;
  padding-right: 9px;
  text-align: center;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.options {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 24px;
  max-width: 736;
  gap: 18px;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
}



.optionButton {
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 3px;
  border: solid 1px rgba(18, 38, 63, 0.06);
  display: flex;
}

.optionButton:hover {
  box-shadow: 0 0 3px 3px #CAEFFE;
  border: solid 1px #0092DA;
}

.optionButton:active {
  box-shadow: 0 0 3px 3px #CAEFFE;
  border: solid 1px #0092DA;
}

.option {
  width: 100%;
  height: 100%;
  display: flex;
}

.optionImageDiv {
  width: 80px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.optionImage {
  padding-left: 12px;
  display: block;
  width: 56px;
  height: 56px;
  padding-right: 12px;
  margin: 0;
}

.optionText {
  padding-left: 0;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.optionTitle {
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
}

.optionDescription {
  font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  color: #B6B8B9;
}
