
.content {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.header {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.options {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 24px;
  padding-top: 24px;
  max-width: 968px;
}

.option {
  width: 168px;
  height: 262px;

  display: flex;
  flex-direction: column;

}

.optionTitle {
  font-size: 14px;
  font-weight: bolder;
  text-align: left;
  padding: 130px 16px 8px 16px;

}

.optionDescription {
  font-size: 14px;
  padding: 0px 16px 16px 16px;
  line-height: 1.5;
  text-align: left;
}

.optionButton {
  background: transparent;
  border: transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .05);
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}