.inputOptionButton {
    background: transparent;
    border: transparent;
    font-size: 48px;
    cursor: pointer;
    font-family: "Arial Rounded MT Bold", -apple-system, BlinkMacSystemFont, sans-serif;
    color: #d4d5d4;
}

/* .inputOptionButton:focus {
    outline:0;
    color: black;
    opacity: 60%;
}


.inputOptionButton:active {
    outline:0;
    color: black;
    opacity: 60%;
}*/

.inputOptionButton:hover {
    outline:0;
    color: black;
} 

.comparisonTitle {
    font-size: 20px;
    width: 100%;
    bottom: 9px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    padding-bottom: 45px;
    position: relative;
    margin: 0 auto;

}

.divide {
    width: 134px;
    height: 225px;
}

.comparisonContent {
    max-width: 1024px;
}

@media screen and (max-width: 600px) {
    .comparisonContent {
        padding: 18px;
        width: 100% !important;
        box-sizing: border-box;
    }
}


.comparisonGrid {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-column-gap: 24px;
    padding-left: 104px;
    padding-right: 104px;
    min-width: 300px;
}


@media screen and (max-width: 600px) {
    .divide {
        width: 100%;
        height: auto;
    }

    .comparisonGrid {
        padding: 18px;
        box-sizing: border-box;
        grid-column-gap: 4.5px;
    }

    .comparisonTitle {
        font-size: 14px;
    }

    .inputOptionButton {
        font-size: 20px;
    }
}
