.frameContent {
    width: 600px;
    height: 661px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.motivationPlant {
    width: 138px;
    height: 265px; 
}

.plant {
    position: absolute;
    width: 138px;
    height: 265px;
    transform: scale(0);
    opacity: 0;
}
.pot {
    position: relative;
    width: 100%;
    height: 100%;

}

.motivationText {
    font-size: 20px;
    font-family: "Arial Rounded MT Bold", -apple-system, BlinkMacSystemFont, sans-serif;
    padding-left: 34px;
    padding-right: 44px;
    text-align: center;

}

.motivationTextContainer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

