.additionalContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.additionalLeft {
    padding: 36px;
    width: 452px;
}

.additionalRight {
    width: 100%;
    /* background-color: #F5E2E2; */
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 600px) {
    .additionalRight {
        display: none !important;
    }

    .additionalLeft {
        padding: 18px;
        width: 100%;
        box-sizing: border-box;
    }
}


.additionalInstruction {
    font-family:-apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #545454;
    padding-top: 18px;
    margin: 0;
}

.additionalValueInput {
    font-family:-apple-system, BlinkMacSystemFont, sans-serif;
    color: #545454;
    border: transparent;
    font-size: 16px;
    font-weight: bolder;
    border-bottom: 1px solid #D8D8D8;
    margin: 0;
    height: 26px;
    margin-top: auto;
    width: 100%;
    padding-top: 36px;
    border-radius: 0;
    -webkit-appearance: textfield;
    margin-right: 18px;
}

.additionalValueInput:focus {
    border-bottom: 1px solid #678380;
}

.additionalSubmitDiv {
    padding-top: 20px;
    position: relative;
    float: right;
}


  .additionalValueInput:disabled {
      border: none;
      /* color: #6F3BE4; */
  }
  textarea:focus, input:focus{
    outline: none;
}