.motivationalContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.motivationalLeft
 {
    display: block;
    width: 100%;
    padding-left: 72px;
    padding-top: 72px;
}

.motivationalRight {

    height: 100%; 
    align-items: flex-end;
    display: flex;
    padding-left: 36px;
    padding-right: 12px;
    padding-bottom: 18px;
    box-sizing: border-box;
}


@media screen and (max-width: 600px) {
    .motivationalRight {
        display: none !important;
    }

    .motivationalLeft {
        padding: 18px;
        width: 100%;
        box-sizing: border-box;
    }
}

.motivationalInstruction {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #545454;
    margin: 0;
}

.motivationalForm {
    padding-bottom: 18px;
    padding-top: 18px;
    margin-left: -4px;
}

.motivationalInput {
    border-radius: 5px;
    padding-left: 8px;
    display: block;
    height: 45px;
    background-color: rgba(212, 213, 212, 0.15); 
    color: black;
    font-weight: 600;
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-size: 100%;
    width: 100%;
    box-sizing: border-box;
    background-clip: padding-box;
    border: solid 1px white;
}


.additionalSubmitDiv {
    padding-top: 20px;
    position: relative;
    float: right;
}


  .additionalValueInput:disabled {
      border: none;
      /* color: #6F3BE4; */
  }
  textarea:focus, input:focus{
    outline: none;
}