.resultsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultsDescription {
    text-align: center;
    padding-top: 9px;
    font-size: 14px;
    padding-bottom: 18px;
  }

  .resultsHeader {
    font-size: 36px;
    font-weight: 600;
  }
  .resultsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;  
    font-size: 20px;
    width: 60%;
  }

  .resultItem {
    display: flex;
    padding-top: 18px;
    width: 300px;
    line-height: 45px;
  }

  .resultNumberBoxImportant {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #7300D7;
    line-height: 45px;
  }

  .resultNumberBox {
    border-radius: 5px;
    background-color: #9B18FF;
    line-height: 45px;
    min-width: 45px;
    min-height: 45px;
    max-height: 45px;
  }

  .resultNumber {
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
  }

  .resultValue {
    padding-left: 9px;
  }

 .resultButtons {
    padding-top: 54px;
   display: flex;
   margin: 0 auto;
   background-color: white;
;

 }

 .resultButton {
  background-color: white;
  -webkit-appearance: none;
  border: transparent;
  cursor: pointer;
  padding-left: 18px;
  padding-right:18px;
  min-height: 44px;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  row-gap: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .resultButton:hover {
  color: black;
  outline: 0;
}

.resultButton:focus {
  color: black;
  outline: 0;
}

.resultButton:active {
  color: black;
  outline: 0;
}

.resultButtonImage {
  height: 18px;
  width: auto;
}

.resultButtonText {
  padding-left: 4.5px;
}


@media screen and (max-width: 600px) {
  .resultsHeader {
      font-size: 16px;
  }

  .resultsContent {
    /* position: absolute;
    top: 18px; */
    padding-left: 18px;
    padding-right: 18px;
  }

  .resultButtons {
    flex-direction: column;
    align-items: flex-start;
  }

  .resultsList {
    grid-template-columns: 1fr; 
    width: 100%;
  }
}
