.seesawContent {
    width: 100%;
    height: 100%;
}

.seesawWrapper {
    position: relative;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    width: 334px;
}

.seesawBottomSection {
    position: absolute;
    bottom: -5px;
}

.seesawBase {
    position: absolute;
    bottom: 0;
}

.seesawBaseImg {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

#seesawSectionA {
    width: 180px;
    left: -90px;
    position: absolute;
    bottom: 100px;
}

#seesawSectionB {
    width: 180px;
    left: 240px;
    position: absolute;
    bottom: 100px;
}

.seesawSwingyPart {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.seesawSwingyImg {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.seesawSideA {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    z-index: -100;
}

.seesawSideB {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    z-index: -100;
}

.seesawSideAImg {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.seesawSideBImg {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.blockText {
    font-family: "Arial Rounded MT Bold", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.optionBlockTextContainer {
    border-radius: 6px;
    background-color: rgba(255.0, 255.0, 255.0, 0.4);
    width: 90px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.option2Blocks {
    display: flex;
}

.blockTextAdded {
    font-family: "Arial Rounded MT Bold", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

#addedOptionA1 {
    opacity: 0;
}

#addedOptionA2 {
    opacity: 0;
}

#addedOptionA3 {
    opacity: 0;
}

#addedOptionB1 {
    opacity: 0;
}

#addedOptionB2 {
    opacity: 0;
}

#addedOptionB3 {
    opacity: 0;
}

.whiteBlock {
    background-color: white;
}

.white80Block {
    background-color: rgba(255.0, 255.0, 255.0, 0.8);
}

.white60Block {
    background-color: rgba(255.0, 255.0, 255.0, 0.6);
}